body {
background-color:black;
color:white;
font-family: 'Raleway', sans-serif;
}

.container {
 margin-top: 150px;
}

h1 {
 font-size: 64px;
 font-family: 'Raleway', sans-serif;
}

hr {
 width: 30%;
}

a {
 text-decoration: none;
}
  
