body {
background-color:black;
color:white;
font-family: 'Raleway', sans-serif;
}

h1 {
 font-size: 60px;
 font-family: 'Raleway', sans-serif;
}

p1 {
font-size: 35px;
}

hr {
 width: 15%;
}

a {
 text-decoration: none;
 color: #636b6f;
}
  
