body {
background-color:black;
color:white;
font-family: 'Raleway', sans-serif;
}

h1 {
 font-size: 38px;
 font-family: 'Raleway', sans-serif;
}

hr {
 width: 30%;
}

a {
 text-decoration: none;
}
  
